.dropdown-menu.show {
    top: 45px;
    padding: 0;
    margin: 0;
}

.dropdown-menu.show a {
    font-weight: normal !important;
    padding: 5px 20px !important;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize !important;
}