<div class="banner_sec" style="background: #fff url(assets/img/banner-4.jpg) center;background-size: cover;background-repeat: no-repeat;min-height: 30vh;">
  <div class="overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
  <div class="container text-content">
      <h2 class="text-center">About</h2>      
  </div>
</div>

<section id="about-us">
  <div class="container">
    <h4 class="text-center">SHORT STORY ABOUT EDAY EXPORTZ</h4>
    <div class="row">
      <div class="col-lg-6 mb-6">
        <p>Eday Exportz is reliable and trustworthy export company in Chennai. It is situated in India's growing state of Tamilnadu. Company is established in order to upliftment of rural products by purchasing directly from that farmer so this way over all progress of rural people by giving them appropriate price. We have wide experience of farming products because we are basically come from farmer background so we know good and bad side of these products. We have been in this line since three decade. Our skill is useful when we producing these products in our own farm and purchase those products from other farmers. We appointed qualified and experience person in our company so we give maximum benefits of their knowledge and skill to our end user customer by quality of products and fair price of that products.</p>
      </div>
      <div class="col-lg-6 mb-6">
        <p>Our business policy is that we purchase our agriculture products directly from farmers so we have no any requirement of intermediate so we give our products to our customer over all at low cost with good quality. We follow the international norms so we can able to give our customer to quality products with easy availability. Our company is situated in Tamilnadu state which has occupied 1600 km long coastal line. In Tamilnadu there are many ports available so our strategic location is more useful to export any products without any delay. We shipped our shipment in timely manner so that our customer gets their products in very fast. We take care of our entire business partner because we believe to make relation with them life time.</p>
      </div>
    </div>
  </div>
</section>
